.item__container {
    padding: 20px;
}

.item-list-link {
    text-decoration: none;
    font-size: 18px;
    line-height: 22px;
    color: #ffee58;
    display: block;
    transition: 0.4s;
    position: relative;
    border: 1px solid #ffee58;
    padding: 5px 10px;
}

.item-list-link:hover {
    background-color: #ffee58 65;
    color: #ffee58;
}

.item-list li {
    margin-bottom: 15px;
}