.main__container {
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 30px;
    position: relative;
}

.main__description {
    flex: 1 1 45%;
    min-width: 320px;
    padding: 10px;
    background-color: #2c2c2c;
    border: 2px solid #ffee58;
    transform-origin: 50% 100%;
    transform: perspective(600px) rotateX(8deg) translateY(20px);
}

.main__description-text {
    font-size: 20px;
    font-weight: 300;
    line-height: 24px;
    text-align: justify;
    color: #ffee58;
}

.main__description-text::selection {
    background: #c20802;
}