.single-item__container {
  padding: 20px;
}

.single-item__title {
  text-align: center;
  font-weight: 700;
  font-size: 28px;
  color: #ffee58;
  margin-bottom: 5px;
}

.single-item__list-item {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}

.single-item__list-item h2 {
  color: #ffee58;
  font-weight: 700;
  font-size: 18px;
  text-transform: capitalize;
}

.single-item-title {
  color: #ffee58;
  font-weight: 700;
  font-size: 18px;
  text-transform: capitalize;
}

.single-item {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}

.single-item .single-item-list {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
}

.single-item a:hover {
  color: #ffee58;
}