.single-film__container {
    padding: 20px;
}
.single-film__title {
    text-align: center;
    font-weight: 700;
    font-size: 28px;
    color: #ffee58;
    margin-bottom: 5px;
}
.single-film__subtitle {
    text-align: center;
    font-weight: 700;
    font-size: 24px;
    color: #ffee58;
    margin-bottom: 5px;
}
.single-film__cast {
    color: #fff;
}
.single-film__cast span {
    color: #ffee58;
    font-weight: 700;
    font-size: 18px;
    text-transform: capitalize;
}
.single-film__cast p {
    margin-bottom: 10px;
}
.film__data-list {
    display: flex;
    gap: 10px;
    margin-bottom: 15px;
}
.film__data-list h2 {
    color: #ffee58;
    font-weight: 700;
    font-size: 18px;
    text-transform: capitalize;
}
.film__data-list ul {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}
.film__data-list a {
    color: #0ff;
    font-weight: 600;
    transition: 0.4s;
}
.film__data-list a:hover {
    color: #ffee58;
}
.single-item__container {
    padding: 20px;
}
.single-item__title {
    text-align: center;
    font-weight: 700;
    font-size: 28px;
    color: #ffee58;
    margin-bottom: 5px;
}
.single-item__list-item {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
}
.single-item__list-item h2 {
    color: #ffee58;
    font-weight: 700;
    font-size: 18px;
    text-transform: capitalize;
}
.single-item-title {
    color: #ffee58;
    font-weight: 700;
    font-size: 18px;
    text-transform: capitalize;
}
.single-item {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
}
.single-item .single-item-list {
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
}
.single-item a {
    color: #0ff;
    font-weight: 600;
    transition: 0.4s;
}
.single-item a:hover {
    color: #ffee58;
}
