@keyframes openerY {
    0% {
        transform: translateY(-50%) scaleY(0);
   }
    100% {
        transform: translateY(0) scaleY(100%);
   }
}
.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.header {
    background-color: #2c2c2c;
    padding: 20px 0;
}
.container {
    max-width: 1240px;
    margin: 0 auto;
    padding: 0 20px;
}
.header__logo {
    max-width: 150px;
}
.header__logo img {
    max-width: 100%;
}
.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__links {
    display: flex;
    gap: 20px;
}
.header__links-item a {
    color: #ffee58;
    font-weight: 600;
    transition: 0.4s;
    text-decoration: none;
    padding: 5px;
}
.header__links-item a:hover {
    color: #9da002;
}
.header__link_active {
    border: 1px solid #ffee58;
}
.mobile-menu__btn {
    width: 30px;
    height: 30px;
    background: none;
    border: none;
    position: relative;
    display: none;
}
.mobile-menu__btn::before {
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    width: 100%;
    height: 2px;
    background-color: #ffee58;
    transition: 0.5s;
}
.mobile-menu__btn::after {
    position: absolute;
    bottom: 0;
    left: 0;
    content: '';
    width: 100%;
    height: 2px;
    background-color: #ffee58;
    transition: 0.5s;
}
.mobile-menu__btn span {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #ffee58;
}
@media (max-width: 770px) {
    .mobile-menu__btn {
        display: block;
   }
    .mobile-menu__btn.active::before {
        top: 45%;
        transform: rotate(45deg);
   }
    .mobile-menu__btn.active::after {
        bottom: 45%;
        transform: rotate(-45deg);
   }
    .mobile-menu__btn.active span {
        display: none;
   }
    .header__links {
        display: none;
   }
    .header.active {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 2;
   }
    .header__links.active {
        background-color: #2c2c2c ce;
        position: fixed;
        top: 104px;
        left: 0;
        height: 100%;
        width: 100%;
        flex-direction: column;
        display: flex;
        align-items: center;
        padding-top: 30px;
        animation: openerY 0.5s;
   }
}
.main {
    background: url(../../img/mainBackground.jpeg) no-repeat;
    background-size: cover;
    background-position: 100% 50%;
    flex: 1 1 auto;
}
